<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv='Content-type' content='text/html; charset=utf-8'/>
    <title><%= htmlWebpackPlugin.options.title || 'react base ui'%></title>
    <link href="/css/<%= htmlWebpackPlugin.options.mainEntryName %>.css" rel="stylesheet">
  </head>
  <body class="main-page">
    <div class="header">
      react-base-ui samples
    </div>
    <div class="content">
      <% for (var sample of htmlWebpackPlugin.options.samples) { %>
        <a href="<%= encodeURI(sample.id)%>/index.html">
        <div class="card">
          <span class="title"><%= sample.name %></span>
          <i class="<%= sample.icon %>"></i>
        </div>
        </a>
      <% } %>
    </div>
  </body>
</html>
