doctype html
- var opts = htmlWebpackPlugin.options;
- var diff = opts.diff;
- var linkExtraPrefix = opts.linkExtraPrefix;
include ../../../build/helper/templates/variables.jade

html(lang="en")

  head
    include ../../../build/helper/templates/head.jade

  body.initFontSize
    if diff !== "static"
      script.
        window.__stageSequence__ = {};
        window.__stageSequence__.__initialState__ = {
          "permitID" : "${permit_id}",
          "breadcrumb": parseArray(${breadcrumb}),
          "batchID" : "${batch_id}",
          "receiptID" : "${receipt_id}",
          "systemUserID": parseInteger(${system_user_id}),
          "authority": parseArray(${authorities})
        };
    else
      script.
        window.__stageSequence__ = {};
        window.__stageSequence__.__initialState__ = {
          "permitID": 4810,
          "batchID" : "1111111",
          "receiptID" : "2222222",
          "systemUserID": 192,
          "authority": [{
            "id":"approveAllStages",
            "authorityType":"enabled",
            "name":"Approve all stages"
            },
            {
              "id": "addOrDeleteStageSequence",
              "authorityType": "enabled",
              "name": "Add Or Delete StageSequence"
            },
            {
                "id": "changeStageSequence",
                "authorityType": "disabled",
                "name": "Change Stage Sequence"
            }
          ]
        }
    include ../../../build/helper/templates/body.jade
    if diff !== "static"
      script(src!="${jquery_path}/js/RoboHelp_CSH.js")