doctype html
- var opts = htmlWebpackPlugin.options;
- var diff = opts.diff;
- var linkExtraPrefix = opts.linkExtraPrefix;
include ../../../build/helper/templates/variables.jade

html(lang="en")

  head
    include ../../../build/helper/templates/head.jade

  body
    if diff !== "static"
      script.
        window.__confirmation__ = {};
        window.__confirmation__.__initialState__ = {
          "permitWording": "${permit_label}" || "permit",
          "batchID": "${batch_id}",
          "receiptID": "${receipt_id}",
          "receiptEntryID": "${receipt_entry_id}",
          "receiptHeaderID": "${receipt_header_id}",
          "breadcrumb": parseArray(${breadcrumb}),
          "dateFormat" : "${dateFormat}",
          "timeFormat" : "${timeFormat}",
          "timeZoneOffset": parseInteger(${time_zone_offset}),
          "authority": ${authorities} || []
        }
    else
      script.
        window.__confirmation__ = {};
        window.__confirmation__.__initialState__ = {
          "permitWording": "permit Wording",
          "batchID": "0",
          "receiptID": "1",
          "receiptEntryID": "2",
          "receiptHeaderID": "123",
          "dateFormat" : "DD/MM/YYYY",
          "timeFormat" : "h:mm a",
          "timeZoneOffset": -8,
          "authority" : [
            {
              "authorityType": "enabled",
              "id": "newReservationHome",
              "name": "New Reservation Home"
            },
            {
              "authorityType": "display",
              "id": "reservationsPage",
              "name": "Reservations Page"
            },
            {
              "authorityType": "enabled",
              "id": "permitActionsOnReservationsPage",
              "name": "Permit Actions On Reservations Page"
            },
            {
              "authorityType": "display",
              "id": "calendarPage",
              "name": "Calendar Page"
            },
            {
              "authorityType": "enabled",
              "id": "buttonToCalendarPage",
              "name": "Button To Calendar Page"
            },
            {
              "authorityType": "enabled",
              "id": "buttonToReservationsPage",
              "name": "Button To Reservations Page"
            },
            {
              "id": "viewPermitContract", 
              "authorityType": "hide", 
              "name": "View Permit Contract"
            }
          ]
        };
    include ../../../build/helper/templates/body.jade
