doctype html
- var opts = htmlWebpackPlugin.options;
- var diff = opts.diff;
- var linkExtraPrefix = opts.linkExtraPrefix;
include ../../../build/helper/templates/variables.jade

html(lang="en")

  head
    include ../../../build/helper/templates/head.jade

  body
    if diff !== "static"
      script.
        window.__payment__ = {};
        window.__payment__.__initialState__ = {
          "total": Math.abs(parseNumber(${due_now})),
          "limitPayer": ${limit_payer},
          "allowPaymentByCashWithChangeCalculation": parseBoolean(${allow_cash_payments_with_change_calculation}),
          "companyLabel": "${company_label}",
          "roundCashPaymentType": parseNumber(${round_cash_payment_type}),
          "roundCashPaymentTo": parseNumber(${round_cash_payment_to}),
          "payer": ${payer} || {},
          "paymentOptions": parseArray(${payment_options}),
          "permitID" : "${permit_id}",
          "batchID" : "${batch_id}",
          "receiptID" : "${receipt_id}",
          "receiptEntryID" : "${receipt_entry_id}",
          "draftReceiptID" : "${draft_receipt_id}",
          "draftReceiptEntryID" : "${draft_receipt_entry_id}",
          "currentDate": "${currentDate}",
          "cardTypeList": ${card_type_list} || [],
          "ccScanWithApdDevice": parseBoolean(${cc_scan_with_apd_device}),
          "apdInputType": "${device_type_id}",
          "echeckAccountTypeList": ${echeck_account_type_list} || [],
          "isRefund": parseBoolean(${is_refund}),
          "ccScanWithMagesafeDevice" : parseBoolean(${use_magensa_device_for_credit_card_scan}),
          "ccMagesafeDeviceType": "${magensa_input_device_type}",
          "showPriorCC": parseBoolean(${show_prior_cc}),
          "jqueryPath" : "${jquery_path}",
          "transactionFee" : parseNumber(${transaction_fee}),
          "depositFee": parseNumber(${deposit_fee}),
          "minimumPayNowAmount": parseNumber(${minimum_pay_now_amount}),
          "paymentPlanInitData": parseObject(${payment_plan_init_data}),
          "dateFormat" : "${dateFormat}",
          "paymentSummary": parseObject(${payment_info}),
          "breadcrumb": parseArray(${breadcrumb}),
          "claimTaxTotal": parseNumber(${claim_tax_total}),
          "claimDiscountTotal": parseNumber(${claim_discount_total}),
          "timeZoneOffset": parseInteger(${time_zone_offset}),
          "authority": ${authorities} || [],
          "cancelPermit": parseBoolean(${cancel_permit}),
          "permitWording": "${permit_label}" || "permit",
          "disableMagtekPCIEnhancement": parseBoolean(${disableMagtekPCIEnhancement}),
          "helpFileFolder": "${help_file_folder}",
          "cashCustomerId": parseNumber(${cash_customer_id})
        };
    else
      script.
        window.__payment__ = {};
        window.__payment__.__initialState__ = {
          "total": 370,
          "limitPayer": false,
          "disableMagtekPCIEnhancement": false,
          "allowPaymentByCashWithChangeCalculation": true,
          "companyLabel": "OrganizationXXX",
          "roundCashPaymentType": 1,
          "roundCashPaymentTo": 0.15,
          "permitWording": "Permit Shirly",
          "permitID": "12",
          "isRefund": false,
          "cancelPermit": true,
          "cashCustomerId": 0,
          "helpFileFolder": "https://help-vip.qa.aw.dev.activenetwork.com/ActiveNet/18.10/en_US",
          "payer": {
            "companies": [],
            "customers": [
              {
                "id": 1,
                "name": "Flora Xu",
                "selected": true
              }, {
                "id": 2,
                "name": "Shirly Tian",
                "selected": false
              }
            ],
            "payer_type": 1, //(1: Customer 2: Company)
            "show_payer_type" : true
          },
          "paymentOptions": [{
            "id": 1,
            "name": "Cash",
            "selected": true
            }, {
              "id": 2,
              "name": "Check",
              "selected": false
            }, {
              "id": 3,
              "name": "Credit Card",
              "selected": false
            }, {
              "id": 7,
              "name": "Gift Card",
              "selected": false
            }, {
              "id": 6,
              "name": "Credit Account",
              "selected": false
            }, {
              "id": 4,
              "name": "Debit Card",
              "selected": false
            }, {
              "id": 5,
              "name": "Electronic Check",
              "selected": false
            }],
          "cardTypeList": [{
              "id": 8,
              "selected": false,
              "card_type_id": 1,
              "card_type": "3 visa"
            }, {
              "id": 1,
              "selected": false,
              "card_type_id": 1,
              "card_type": "Visa"
            }, {
              "id": 9,
              "selected": false,
              "card_type_id": 2,
              "card_type": "3 Master Card"
            }, {
              "id": 2,
              "selected": false,
              "card_type_id": 2,
              "card_type": "MasterCard"
            }, {
              "id": 10,
              "selected": false,
              "card_type_id": 4,
              "card_type": "3 Diners"
            }, {
              "id": 4,
              "selected": false,
              "card_type_id": 5,
              "card_type": "Discover Card"
            }, {
              "id": 17,
              "selected": false,
              "card_type_id": 3,
              "card_type": "0 American Express"
            }, {
              "id": 16,
              "selected": false,
              "card_type_id": 3,
              "card_type": "1 American Express"
            }, {
              "id": 15,
              "selected": false,
              "card_type_id": 3,
              "card_type": "2 American Express"
            }, {
              "id": 6,
              "selected": false,
              "card_type_id": 3,
              "card_type": "3 American Express"
            }, {
              "id": 14,
              "selected": false,
              "card_type_id": 3,
              "card_type": "4 American Express"
            }, {
              "id": 3,
              "selected": false,
              "card_type_id": 3,
              "card_type": "American Express"
            }, {
              "id": 12,
              "selected": false,
              "card_type_id": 6,
              "card_type": "3 JCB"
            }, {
              "id": 7,
              "selected": false,
              "card_type_id": 0,
              "card_type": "3 other credit card"
            }, {
              "id": 5,
              "selected": false,
              "card_type_id": 0,
              "card_type": "Other Payment Type"
            }],
          "currentDate": "22 Aug 2016",
          "ccScanWithApdDevice": false,
          "apdInputType": 1,
          "ccScanWithMagesafeDevice" : false,
          "ccMagesafeDeviceType": "MagtekDynamag",
          "showPriorCC": true,
          "echeckAccountTypeList": [{
            "selected": true,
            "account_type": "C",
            "account_type_name": "Checking"
            }, {
              "selected": false,
              "account_type": "S",
              "account_type_name": "Saving"
            }],
          "jqueryPath" : "",
          "transactionFee" : 5.17,
          "depositFee": 15.00,
          "minimumPayNowAmount": 95.1,
          "paymentPlanInitData": {
            "allow_customer_change": true,
            "show_prior_cc": true,
            "show_prior_ecp": true,
            "payment_type_id": 8,
            "payment_plan_wording": "Payment Plan",
            "max_payment_plan_amount": 12.4,
            "first_payment_date": "5 Feb 2017",
            "show_auto_payment_method": true,
            "auto_schedule_read_only": true,
            "reservation_payment_plans": [
              {
                "id": 0,
                "name": "Custom",
                "selected": false,
                "description": ""
              },
              {
                "id": 4,
                "name": "each booking",
                "selected": true,
                "description": ""
              },
              {
                "id": 2,
                "name": "Monthly at start of month",
                "selected": false,
                "description": "deposit1&gt;&lt;&amp;"
              },
              {
                "id": 5,
                "name": "total due first date",
                "selected": false,
                "description": "Facility damage&gt;&lt;&amp;&#096;"
              },
              {
                "id": 3,
                "name": "weekly",
                "selected": false,
                "description": "Facility damage2&quot;test&quot;&#126;Test long description 001. Test long description 002. Test long description 003.. Test long description 004. Test long description 005. Test long description 006. Test long description 007."
              }
            ],
            "billing_types": [
              {
                "id": 1,
                "name": "Weekly",
                "selected": false
              },
              {
                "id": 2,
                "name": "Every other week",
                "selected": false
              },
              {
                "id": 3,
                "name": "Twice a month",
                "selected": true
              },
              {
                "id": 4,
                "name": "Monthly",
                "selected": false
              },
              {
                "id": 5,
                "name": "Quarterly",
                "selected": false
              },
              {
                "id": 6,
                "name": "Every four weeks",
                "selected": false
              }
            ],
            "number_of_payments": [
              {
                "id": 1,
                "name": "1",
                "selected": false
              },
              {
                "id": 2,
                "name": "2",
                "selected": false
              },
              {
                "id": 3,
                "name": "3",
                "selected": true
              },
              {
                "id": 4,
                "name": "4",
                "selected": false
              },
              {
                "id": 5,
                "name": "5",
                "selected": false
              },
              {
                "id": 6,
                "name": "6",
                "selected": false
              },
              {
                "id": 7,
                "name": "7",
                "selected": false
              },
              {
                "id": 8,
                "name": "8",
                "selected": false
              },
              {
                "id": 9,
                "name": "9",
                "selected": false
              },
              {
                "id": 10,
                "name": "10",
                "selected": false
              },
              {
                "id": 11,
                "name": "11",
                "selected": false
              },
              {
                "id": 12,
                "name": "12",
                "selected": false
              },
              {
                "id": 13,
                "name": "13",
                "selected": false
              },
              {
                "id": 14,
                "name": "14",
                "selected": false
              },
              {
                "id": 15,
                "name": "15",
                "selected": false
              },
              {
                "id": 16,
                "name": "16",
                "selected": false
              },
              {
                "id": 17,
                "name": "17",
                "selected": false
              },
              {
                "id": 18,
                "name": "18",
                "selected": false
              },
              {
                "id": 19,
                "name": "19",
                "selected": false
              },
              {
                "id": 20,
                "name": "20",
                "selected": false
              },
              {
                "id": 21,
                "name": "21",
                "selected": false
              },
              {
                "id": 22,
                "name": "22",
                "selected": false
              },
              {
                "id": 23,
                "name": "23",
                "selected": false
              },
              {
                "id": 24,
                "name": "24",
                "selected": false
              },
              {
                "id": 25,
                "name": "25",
                "selected": false
              },
              {
                "id": 26,
                "name": "26",
                "selected": false
              },
              {
                "id": 27,
                "name": "27",
                "selected": false
              },
              {
                "id": 28,
                "name": "28",
                "selected": false
              },
              {
                "id": 29,
                "name": "29",
                "selected": false
              },
              {
                "id": 30,
                "name": "30",
                "selected": false
              },
              {
                "id": 31,
                "name": "31",
                "selected": false
              },
              {
                "id": 32,
                "name": "32",
                "selected": false
              },
              {
                "id": 33,
                "name": "33",
                "selected": false
              },
              {
                "id": 34,
                "name": "34",
                "selected": false
              },
              {
                "id": 35,
                "name": "35",
                "selected": false
              },
              {
                "id": 36,
                "name": "36",
                "selected": false
              },
              {
                "id": 37,
                "name": "37",
                "selected": false
              },
              {
                "id": 38,
                "name": "38",
                "selected": false
              },
              {
                "id": 39,
                "name": "39",
                "selected": false
              },
              {
                "id": 40,
                "name": "40",
                "selected": false
              },
              {
                "id": 41,
                "name": "41",
                "selected": false
              },
              {
                "id": 42,
                "name": "42",
                "selected": false
              },
              {
                "id": 43,
                "name": "43",
                "selected": false
              },
              {
                "id": 44,
                "name": "44",
                "selected": false
              },
              {
                "id": 45,
                "name": "45",
                "selected": false
              },
              {
                "id": 46,
                "name": "46",
                "selected": false
              },
              {
                "id": 47,
                "name": "47",
                "selected": false
              },
              {
                "id": 48,
                "name": "48",
                "selected": false
              },
              {
                "id": 49,
                "name": "49",
                "selected": false
              },
              {
                "id": 50,
                "name": "50",
                "selected": false
              }
            ],
            "auto_payment_types": [
              {
                "id": 1,
                "name": "Credit Card",
                "selected": true
              },
              {
                "id": 2,
                "name": "Electronic Check",
                "selected": false
              }
            ],
            "backup_payment_info":{
                "show_backup_payment": true,
                "backup_payment_type": "Credit Card",
                "backup_payment_card_name": "Visa ends in 2323"
            },
            "payment_dates": [{
                "due_date": 1493276400000,
                "amount": 26.67,
                "paid": 19
              }, {
                "due_date": 1493881200000,
                "amount": 26.67,
                "description": ""
              },{
                "due_date": 1494486000000,
                "amount": 26.66,
                "description": ""
              }]
          },
          "dateFormat": "DD/MM/YYYY",
          "paymentSummary": {
            "has_balance": true,
            "has_payments": true,
            "total_amount": 19.00,
            "total_balance_amount": 17,
            "balance_amount": 14.00,
            "paid_amount": 5.00,
            "show_payment_plan": false,
            "payers": [{
              "payer_name": "Flora",
              "paid_amount": 5.00
            }],
            "refunds": [{
              "payer_name": "Flora",
              "paid_amount": 5.00
            }]
          },
          "claimTaxTotal": 12,
          "claimDiscountTotal": 10,
          "timeZoneOffset": -8,
          "authority" : [
            {
              "authorityType": "enabled",
              "id": "newReservationHome",
              "name": "New Reservation Home"
            },
            {
              "authorityType": "display",
              "id": "reservationsPage",
              "name": "Reservations Page"
            },
            {
              "authorityType": "enabled",
              "id": "permitActionsOnReservationsPage",
              "name": "Permit Actions On Reservations Page"
            },
            {
              "authorityType": "display",
              "id": "calendarPage",
              "name": "Calendar Page"
            },
            {
              "authorityType": "enabled",
              "id": "buttonToCalendarPage",
              "name": "Button To Calendar Page"
            },
            {
              "authorityType": "enabled",
              "id": "buttonToReservationsPage",
              "name": "Button To Reservations Page"
            },
            {
              "id": "viewPermitContract",
              "authorityType": "hide",
              "name": "View Permit Contract"
            }
          ]
        };

        window.roundCashPayments = function(roundCashType, roundCashTo, amount) {
          if (roundCashType === 0) { return amount; }

          let roundedAmount = parseFloat(amount);
          const remainingAmount = Math.round((parseFloat(amount) * 100) %
            (parseFloat(roundCashTo) * 100)) / 100;

          if (remainingAmount === 0) { return roundedAmount; }

          roundedAmount = (Math.round(parseFloat(amount) * 100) -
            Math.round(parseFloat(remainingAmount) * 100)) / 100;

          switch (roundCashType) {
            case 1:
              if (remainingAmount > (roundCashTo / 2)) {
                roundedAmount = (Math.round(parseFloat(roundedAmount) * 100)
                + Math.round(parseFloat(roundCashTo) * 100)) / 100;
              }
              break;
            case 2:
              if (remainingAmount >= roundCashTo / 2) {
                roundedAmount = (Math.round(parseFloat(roundedAmount) * 100)
                + Math.round(parseFloat(roundCashTo) * 100)) / 100;
              }
              break;
            case 3:
              roundedAmount = (Math.round(parseFloat(roundedAmount) * 100)
              + Math.round(parseFloat(roundCashTo) * 100)) / 100;
              break;
            default:
              break;
          }
          return roundedAmount;
        };
    include ../../../build/helper/templates/body.jade

    script(type="text/javascript" for="USBHID" event="CardDataChanged()").
      window.magTekApplet.processCardData();

    script(type="text/javascript" for="USBHID" event="CardDataError()").
      window.magTekApplet.magTekSetErrorMessage("Error reading card. Please try again.");
    if diff !== "static"
      script(src!="${jquery_path}/js/RoboHelp_CSH.js")
