doctype html
- var opts = htmlWebpackPlugin.options;
- var diff = opts.diff;
- var linkExtraPrefix = opts.linkExtraPrefix;
include ../../../build/helper/templates/variables.jade

html(lang="en")

  head
    include ../../../build/helper/templates/head.jade

    if diff !== "static"
      link(href!="${jquery_path}/development-bundle/themes/base/jquery.ui.all.css" rel="stylesheet")

  body.initFontSize
    if diff !== "static"
      script(src!="${jquery_path}/js/jquery-1.7.2.min.js")
      script(src!="${jquery_path}/js/jquery-ui-1.8.21.custom.min.js")
      script(src!="${jquery_path}/js/signaturePAD/SigWebTablet.js")
      script(src!="${jquery_path}/js/signaturePAD/SignPad.js")
      script(src!="${jquery_path}/js/signaturePAD/html2canvas.js")
      script.
        window.__permitDetail__ = {};
        window.__permitDetail__.__initialState__ = {
          "permitID":"${permit_id}",
          "permitNumber":"${permit_number}",
          "batchID" : "${batch_id}",
          "receiptID" : "${receipt_id}",
          "receiptEntryID" : "${receipt_entry_id}",
          "akamaiDirectory" : "${akamaiDirectory}",
          "akamaiEnabled" : "${akamai_enabled}",
          "homeUrl" : "${home_url}",
          "images" : "${images}",
          "agents" : ${agents} || [],
          "customerAndCompany" : ${customerAndCompany} || null,
          "permitTypeDetail": ${permitTypeDetail},
          "permitReservationUsers": ${permitReservationUsers},
          "currentDate" : "${currentDate}",
          "currentTime" : "${currentTime}",
          "dateFormat" : "${dateFormat}",
          "timeFormat" : "${timeFormat}",
          "jqueryPath" : "${jquery_path}",
          "enableDigitalSignature" : "${enable_digital_signature}",
          "hideChecklistItemsSection" : "${permitDetailConfigVO.hideChecklistItemsSection}",
          "hideNotesSection" : "${permitDetailConfigVO.hideNotesSection}",
          "hideReservationCharges" : "${permitDetailConfigVO.hideReservationCharges}",
          "hideCustomQuestionsSection" : parseBoolean(${permitDetailConfigVO.hideCustomQuestionsSection}),
          "ssn_numeric_only" : parseBoolean(${ssn_numeric_only}),
          "ssn_label" : "${ssn_label}",
          "ssn_valid_length" : parseInteger(${ssn_valid_length}),
          "country_code" : "${country_code}",
          "area_code" : "${area_code}",
          "companyWording" : "${company_wording}",
          "showLightingPINRequired" : "${show_lighting_PIN_required}",
          "isLightingPINRequired" : "${is_lighting_PIN_required}",
          "breadcrumb": parseArray(${breadcrumb}),
          "permitLabel": "${permit_label}" || "permit",
          "timeZoneOffset": parseInteger(${time_zone_offset}),
          "disabledSkyLogix": parseBoolean(${is_lighting_PIN_disabled}),
          "customer_error_msg": "${customer_error_msg}",
          "authority": ${authorities} || []
        };

    else
      script.
        window.__permitDetail__ = {};
        window.__permitDetail__.__initialState__ = {
          "permitID": "0",
          "batchID" : "1111111",
          "receiptID" : "2222222",
          "receiptEntryID" : "3333333",
          "akamaiDirectory" : "/whyy/",
          "akamaiEnabled" : true,
          "homeUrl" : "http://localhost:8080/linux01/servlet/",
          "images" : "123/",
          "agents" : [{
              "id": 1,
              "name": "Flynn 1",
              "selected": false
          }, {
              "id": 2,
              "name": "Flynn 2",
              "selected": false
          }],
          "customerAndCompany" : {
            "company_id" : 0,
            "agent_name" : "",
            "agent_id" : 0,
            "company_name" : "ActiveNetwork",
            "customer_id" : 1,
            "customer_name" : "test"
          },
          "permitTypeDetail": {
            "permit_hold_types": [{
              "selected": false,
              "hold_type_id": 0,
              "hold_type_name": "Normal",
              "expiration_date_required": false,
              "expiration_date_allowed": false,
              "system_user_names_allowed": false
            }, {
              "selected": false,
              "hold_type_id": 1,
              "hold_type_name": "Tentative",
              "expiration_date_required": true,
              "expiration_date_allowed": true,
              "system_user_names_allowed": false
            }, {
              "selected": true,
              "hold_type_id": 2,
              "hold_type_name": "Temporary",
              "expiration_date_required": false,
              "expiration_date_allowed": true,
              "system_user_names_allowed": true
            }],
            "permit_reservation_users": [179],
            "expiration_date": "Jul 12, 2016",
            "default_expiration_date": "Jul 14, 2016"
          },
          "permitReservationUsers": [{
            "id": 179,
            "name": "#Becky 0118",
            "selected": false
          }, {
            "id": 133,
            "name": "Becky 0512 long long long long long long long long long",
            "selected": false
          }, {
            "id": 230,
            "name": "$flynn 1",
            "selected": false
          }, {
            "id": 231,
            "name": "@flynn 2",
            "selected": false
          }, {
            "id": 218,
            "name": "éGrace 3 site",
            "selected": false
          }, {
            "id": 243,
            "name": "a1 a1",
            "selected": false
          }, {
            "id": 258,
            "name": "AA Demo AA Demo",
            "selected": false
          }, {
            "id": 232,
            "name": "flynn 2",
            "selected": false
          }, {
            "id": 281,
            "name": "Grace 3 site",
            "selected": false
          }, {
            "id": 242,
            "name": "a1 a1",
            "selected": false
          }, {
            "id": 259,
            "name": "AA Demo AA Demo",
            "selected": false
          }],
          "currentDate" : "Jun 30, 2016",
          "currentTime" : "19:13",
          "dateFormat" : "MM/DD/YYYY",
          "timeFormat" : "h:mm a",
          "enableDigitalSignature" : true,
          "hideChecklistItemsSection" : "false",
          "hideNotesSection" : "false",
          "hideReservationCharges" : "false",
          "hideCustomQuestionsSection" : false,
          "ssn_numeric_only" : true,
          "ssn_label" : "SSN",
          "ssn_valid_length" : 9,
          "country_code" : "US",
          "area_code" : "010",
          "companyWording" : "CompanyWording",
          "showLightingPINRequired" : 'true',
          "isLightingPINRequired" : 'true',
          "permitLabel": "permit wording",
          "timeZoneOffset": -8,
          "disabledSkyLogix": true,
          "customer_error_msg": "This customer does not have a customer type. Please update the customer type or select a different customer.",
          "authority" : [
            {
              "authorityType": "enabled",
              "id": "newReservationHome",
              "name": "New Reservation Home"
            },
            {
              "authorityType": "display",
              "id": "reservationsPage",
              "name": "Reservations Page"
            },
            {
              "authorityType": "enabled",
              "id": "permitActionsOnReservationsPage",
              "name": "Permit Actions On Reservations Page"
            },
            {
              "authorityType": "display",
              "id": "calendarPage",
              "name": "Calendar Page"
            },
            {
              "authorityType": "enabled",
              "id": "buttonToCalendarPage",
              "name": "Button To Calendar Page"
            },
            {
              "authorityType": "enabled",
              "id": "buttonToReservationsPage",
              "name": "Button To Reservations Page"
            },
            {
              "id": "viewPermitContract", 
              "authorityType": "hide", 
              "name": "View Permit Contract"
            }
          ]
        };
    include ../../../build/helper/templates/body.jade
    if diff !== "static"
      script(src!="${jquery_path}/js/RoboHelp_CSH.js")
