doctype html
- var opts = htmlWebpackPlugin.options;
- var diff = opts.diff;
- var linkExtraPrefix = opts.linkExtraPrefix;
include ../../../build/helper/templates/variables.jade

html(lang="en")

  head
    include ../../../build/helper/templates/head.jade

    if diff !== "static"
      link(href!="${jquery_path}/development-bundle/themes/base/jquery.ui.all.css" rel="stylesheet")

  body.initFontSize
    if diff !== "static"
      script(src!="${jquery_path}/js/jquery-1.7.2.min.js")
      script(src!="${jquery_path}/js/jquery-ui-1.8.21.custom.min.js")
      script(src!="${jquery_path}/js/signaturePAD/SigWebTablet.js")
      script(src!="${jquery_path}/js/signaturePAD/SignPad.js")
      script(src!="${jquery_path}/js/signaturePAD/html2canvas.js")
      script.
        window.__reservationDetail__ = {};
        window.__reservationDetail__.__initialState__ = {
          "attachmentReadonly": parseBoolean(${attachment_readonly}),
          "sdireqauth": "${sdireqauth}",
          "permitID": "${permit_id}",
          "permitLabel": "${permit_label}" || "permit",
          "permitNumber": "${permit_number}",
          "companyWording" : "${company_label}",
          "batchID" : "${batch_id}",
          "receiptID" : "${receipt_id}",
          "receiptEntryID" : "${receipt_entry_id}",
          "isReservationDetailUpdated" : parseBoolean(${is_reservation_detail_updated}),
          "akamaiDirectory" : "${akamaiDirectory}",
          "akamaiEnabled" : "${akamai_enabled}",
          "reservationDetail" : ${reservation_detail},
          "ssn_numeric_only" : "${ssn_numeric_only}",
          "ssn_label" : "${ssn_label}",
          "ssn_valid_length" : "${ssn_valid_length}",
          "country_code" : "${country_code}",
          "area_code" : "${area_code}",
          "showLightingPINRequired" : "${show_lighting_PIN_required}",
          "isLightingPINRequired" : "${is_lighting_PIN_required}",
          "breadcrumb": parseArray(${breadcrumb}),
          "hasRefundAmount": parseBoolean(${has_refund_amount}),
          "viewPermitId": "${view_permit_id}",
          "dateFormat" : "${dateFormat}",
          "timeFormat" : "${timeFormat}",
          "timeZoneOffset": parseInteger(${time_zone_offset}),
          "disabledSkyLogix": parseBoolean(${is_lighting_PIN_disabled}),
          "permitNumber": "${permit_number}",
          "authority": ${authorities} || [],
          "amendmentInfo": parseObject(${amendment_info}),
          "currentDate": "${currentDate}",
          "cashCustomerId": parseNumber(${cash_customer_id}),
          "permitLockMessage": "${permit_lock_message}"
        };
    else
      script.
        window.__reservationDetail__ = {};
        window.__reservationDetail__.__initialState__ = {
          "currentDate": '18 Sep 2018',
          "hasRefundAmount": true,
          "attachmentReadonly": false,
          "sdireqauth": "232323",
          "permitID":"1111111",
          "viewPermitId": "dsdfre2wesdafasb24rhyj",
          "permitLabel": "Permit",
          "permitNumber": "12345",
          "batchID" : "1111111",
          "receiptID" : "2222222",
          "receiptEntryID" : "3333333",
          "isReservationDetailUpdated": true,
          "permitWording": "Change Status",
          "akamaiDirectory" : "/whyy/",
          "akamaiEnabled" : true,
          "homeUrl" : "http://localhost:8080/linux01/servlet/",
          "images" : "123/",
          "ssn_numeric_only" : "true",
          "ssn_label" : "SSN",
          "ssn_valid_length" : "12",
          "country_code" : "US",
          "area_code" : "010",
          "showLightingPINRequired" : 'true',
          "isLightingPINRequired" : 'false',
          "companyWording" : "company wording",
          "cashCustomerId": 1,
          "authority": [
                         {
                            "id":"newReservationHome",
                            "authorityType":"display",
                            "name":"New Reservation Home"
                         },
                         {
                            "id":"bookingGrid",
                            "authorityType":"display",
                            "name":"Booking Grid"
                         },
                         {
                            "id":"permitActions",
                            "authorityType":"enabled",
                            "name":"Permit Actions"
                         },
                         {
                            "id":"resourceCalendar",
                            "authorityType":"display",
                            "name":"Resource Calendar"
                         },
                         {
                            "id":"bookingGridIcon",
                            "authorityType":"enabled",
                            "name":"Booking Grid Icon"
                         },
                         {
                            "id":"reserveActions",
                            "authorityType":"enabled",
                            "name":"Reserve Actions"
                         },
                         {
                            "id":"changePermitStatus",
                            "authorityType":"enabled",
                            "name":"Change Permit Status"
                         },
                         {
                            "id":"cancelPermit",
                            "authorityType":"disabled",
                            "name":"Cancel Permit"
                         },
                         {
                            "id":"modifyPaymentPlan",
                            "authorityType":"disabled",
                            "name":"Cancel Permit"
                         },
                         {
                            "id":"copyPermit",
                            "authorityType":"enabled",
                            "name":"Copy Permit"
                         },
                         {
                            "id":"makePayment",
                            "authorityType":"enabled",
                            "name":"Cancel Permit"
                         },
                         {
                            "id":"refundPermit",
                            "authorityType":"enabled",
                            "name":"Refund"
                         },
                         {
                            "id":"viewEmailPrintPermit",
                            "authorityType":"enabled",
                            "name":"Cancel Permit"
                         },
                         {
                            "id":"viewPrintAmendment",
                            "authorityType":"enabled",
                            "name":"Cancel Permit"
                         },
                          {
                              "id": "editEvent",
                              "authorityType": "enabled",
                              "name": "Edit Event"
                          },
                          {
                              "id": "addEvent",
                              "authorityType": "enabled",
                              "name": "Add Event"
                          },
                          {
                              "id": "deleteEvent",
                              "authorityType": "enabled",
                              "name": "Delete Event"
                          },
                          {
                              "id": "addCharge",
                              "authorityType": "display",
                              "name": "Add Charge"
                          },
                          {
                              "id": "deleteCharge",
                              "authorityType": "hide",
                              "name": "Delete Charge"
                          },
                          {
                              "id": "editCharge",
                              "authorityType": "hide",
                              "name": "Edit Charge"
                          },
                          {
                              "id": "editQuestion",
                              "authorityType": "enabled",
                              "name": "Edit Question"
                          },
                          {
                              "id": "deleteQuestion",
                              "authorityType": "disabled",
                              "name": "Delete Question"
                          },
                          {
                              "id": "editWaiver",
                              "authorityType": "enabled",
                              "name": "Edit Waiver"
                          },
                          {
                              "id": "editNote",
                              "authorityType": "enabled",
                              "name": "Edit Note"
                          },
                          {
                            "id": "viewPermitContract",
                            "authorityType": "enabled",
                            "name": "View Permit Contract"
                          },
                          {
                            "id": "addCustomerQuestions",
                            "authorityType": "disabled",
                            "name": "Add Customer Questions"
                          },
                          {
                            "id": "addWaivers",
                            "authorityType": "disabled",
                            "name": "Add Waivers"
                          },
                          {
                            "id": "resetFees",
                            "authorityType": "enabled",
                            "name": "Reset Fees"
                          }
                      ],
          "reservationDetail" : {
                 "event_action_information":{
                    "edit_event":{
                       "system_behavior_id":"editEvent"
                    },
                    "add_event":{
                       "system_behavior_id":"addEvent"
                    },
                    "delete_event":{
                       "system_behavior_id":"deleteEvent"
                    },
                    "add_charge":{
                       "system_behavior_id":"addCharge"
                    },
                    "delete_Charge":{
                       "system_behavior_id":"deleteCharge"
                    },
                    "edit_Charge":{
                       "system_behavior_id":"editCharge"
                    },
                    "edit_Question":{
                       "system_behavior_id":"editQuestion"
                    },
                    "delete_Question":{
                       "system_behavior_id":"deleteQuestion"
                    },
                    "edit_Waiver":{
                       "system_behavior_id":"editWaiver"
                    },
                    "edit_Note":{
                       "system_behavior_id":"editNote"
                    },
                    "add_questions": {
                      "system_behavior_id": "addCustomerQuestions"
                    },
                    "add_waivers": {
                      "system_behavior_id": "addWaivers"
                    },
                    "reset_fees": {
                      "system_behavior_id": "resetFees"
                    }
                  },
                  "action_bar_information":{
                      "change_permit_status":{
                         "system_behavior_id":"changePermitStatus",
                         "current_status" : {
                               "status_type":0,
                               "status_text":"Issue",
                               "stage_id":-1,
                               "status_id":4,
                               "value": 4,
                               "text": "Issue",
                               "permit_status_action":-1,
                               "transaction_stage_id":-1
                          },
                         "available_status_list":[
                            {
                               "status_type":0,
                               "status_text":"Issue",
                               "stage_id":-1,
                               "status_id":4,
                               "value": 4,
                               "text": "Issue",
                               "permit_status_action":-1,
                               "transaction_stage_id":-1
                            },
                            {
                               "status_type":0,
                               "status_text":"Complete",
                               "stage_id":-1,
                               "status_id":7,
                               "value": 7,
                               "text": "Complete",
                               "permit_status_action":-1,
                               "transaction_stage_id":-1
                            },
                            {
                               "status_type":0,
                               "status_text":"Deny",
                               "stage_id":-1,
                               "status_id":9,
                               "value": 9,
                               "text": "Deny",
                               "permit_status_action":-1,
                               "transaction_stage_id":-1
                            }
                         ]
                      },
                      "cancel_permit":{
                         "system_behavior_id":"cancelPermit"
                      },
                      "modify_payment_plan":{
                         "system_behavior_id":"modifyPaymentPlan"
                      },
                      "copy_permit":{
                         "system_behavior_id":"copyPermit"
                      },
                      "make_payment":{
                         "system_behavior_id":"makePayment"
                      },
                      "refund_permit":{
                         "system_behavior_id":"refundPermit"
                      },
                      "view_email_print_permit":{
                         "system_behavior_id":"viewEmailPrintPermit"
                      },
                      "view_print_amendment":{
                         "system_behavior_id":"viewPrintAmendment"
                      },
                      "view_permit_contract":{
                         "system_behavior_id":"viewPermitContract"
                      }
                   },
                  "general_information":{
                    "company_name":"shirly test",
                    "customer_name":"Mr. Raymond Commercial",
                    "customer_type":"Commercial",
                    "expiration_date": "2018 Jun 7 12:00 AM",
                    "permit_date":"2016 Nov 18",
                    "system_user":"ActiveNet Admin",
                    "available_company_agents": [],
                    "customer_id": 1,
                    "company_id": 0
                  },
                  "payment_plan_information":{
                    "payer_name":"Mr. Raymond Commercial",
                    "customer_id": 1,
                    "company_id": 0,
                    "number_of_payment":6,
                    "next_due_date":"Dec 12, 2016 ",
                    "next_due_amount":20.00,
                    "payment_method":"Master Card ends in 1232",
                    "over_due_amount":19.66
                  },
                  "event_list":[
                      {
                          "new_entry_id": 0,
                          "event_id":1,
                          "event_index": "1_1",
                          "permit_id":1,
                          "event_name":"2016 Annual' Party",
                          "attendance":200,
                          "resource_count":1,
                          "booking_count":3,
                          "total_amount":300.00,
                          "validated" : true,
                          "is_booking_updated" : true,
                          "hideCustomQuestionsSection": true,
                          "hideChecklistItemsSection": true,
                          "is_event_updated": false
                      },
                      {
                          "new_entry_id": 0,
                          "event_id":2,
                          "event_index": "2_0",
                          "permit_id":1,
                          "event_name":"2016 Technic Conference",
                          "attendance":100,
                          "resource_count":3,
                          "booking_count":14,
                          "total_amount":230.00,
                          "validated" : true,
                          "is_booking_updated": false,
                          "hideCustomQuestionsSection": true,
                          "hideChecklistItemsSection": true,
                          "is_event_updated": true
                      }
                  ],
                  "fee_summary":{
                     "sub_total": 127.5,
                      "taxes": [{
                        "name": "Tax8",
                        "amount": 12.75
                      }, {
                        "name": "test1",
                        "amount": 12.75
                      }, {
                        "name": "test2",
                        "amount": 12.75
                      }, {
                        "name": "test3",
                        "amount": 4.78
                      }],
                      "total": 170.53,
                      "amount_paid": null,
                      "due_now": null,
                      "refund_amount": null
                }
            },
            "dateFormat" : "DD/MM/YYYY",
            "timeFormat" : "h:mm a",
            "timeZoneOffset": -8,
            "disabledSkyLogix": true,
            "amendmentInfo": {
              "amendment_notes": '',
              "amendment_reason_required": false
            },
            "permitLockMessage": "System user Marry Smith is editing this reservation. Please visit later."
        };
    include ../../../build/helper/templates/body.jade
    if diff !== "static"
      script(src!="${jquery_path}/js/RoboHelp_CSH.js")
