doctype html
- var opts = htmlWebpackPlugin.options;
- var diff = opts.diff;
- var linkExtraPrefix = opts.linkExtraPrefix;
include ../../../build/helper/templates/variables.jade

html(lang="en")

  head
    include ../../../build/helper/templates/head.jade

  body

    if diff !== "static"
      script.
        window.__reservation__ = {};
        window.__reservation__.__initialState__ = {
          "permitDateFormat": "${permitView.permitDateFormat}",
          "permitLabel": "${permit_label}" || "permit",
          "facilityWording": "${permitView.facilityWording}",
          "centers": ${permitView.centers} || [],
          "createdByMe": ${created_by_me},
          "permitStatus": ${permitView.status} || [],
          "facilityTypes": ${permitView.facilityTypes} || [],
          "eventTypes": ${permitView.eventTypes} || [],
          "batchID" : "${batch_id}",
          "receiptID" : "${receipt_id}",
          "receiptEntryID" : "${receipt_entry_id}",
          "breadcrumb": parseArray(${breadcrumb}),
          "dateFormat" : "${dateFormat}",
          "timeFormat" : "${timeFormat}",
          "timeZoneOffset": parseInteger(${time_zone_offset}),
          "authority": ${authorities} || []
        }
    else
      script.
        window.__reservation__ = {};
        window.__reservation__.__initialState__ = {
          "permitLabel": "permit shirly",
          "facilityWording": "facility shirly",
          "permitDateFormat": "YYYY/MM/DD",
          "centers": [{
            "name": "111111Lois Center without Facility",
            "id": 138,
            "selected": false
          }, {
            "name": "14.5 Sprint 4 Moon's center14.5 Sprint 4 Moon's center14.5 Sprint 4 Moon's center14.5 Sprint 4 Moon's center14.5 Sprint 4 Moon's center14.5 Sprint 4 Moon's center",
            "id": 151,
            "selected": false
          }, {
            "name": "3 center",
            "id": 149,
            "selected": false
          },{
            "name": "111111Lois Ce&amp;nter without Facility",
            "id": 1318,
            "selected": false
          }, {
            "name": "14.5 Sprint 4 Moon's center",
            "id": 1511,
            "selected": false
          }, {
            "name": "3 center",
            "id": 1419,
            "selected": false
          }],
          "permitStatus": [{
            "name": "Approved",
            "id": 0,
            "selected": true
          }, {
            "name": "Denied",
            "id": 1,
            "selected": false
          }, {
            "name": "Tentative",
            "id": 2,
            "selected": false
          }],
          "facilityTypes": [{
            "name": "facility type 1",
            "id": 0,
            "selected": true
          }, {
            "name": "facility type 2",
            "id": 1,
            "selected": false
          }, {
            "name": "facility type 3facility type 3facility type 3facility type 3facility type 3facility type 3",
            "id": 2,
            "selected": false
          }],
          "eventTypes": [{
              "id": 34,
              "name": "'South West Hub Café &amp;",
              "selected": false
            }, {
              "id": 51,
              "name": "15.4 demo - Event Type - Lin Test15.4 demo - Event Type - Lin Test15.4 demo - Event Type - Lin Test",
              "selected": false
            }, {
              "id": 39,
              "name": "3 event type",
              "selected": false
            },{
              "id": 69,
              "name": "3 event type - Cloned",
              "selected": false
            }],
            "dateFormat" : "MM/DD/YYYY",
            "timeFormat" : "H:mm",
            "timeZoneOffset": -8,
            "authority" : [
            {
              "authorityType": "enabled",
              "id": "newReservationHome",
              "name": "New Reservation Home"
            },
            {
              "authorityType": "display",
              "id": "reservationsPage",
              "name": "Reservations Page"
            },
            {
              "authorityType": "enabled",
              "id": "permitActionsOnReservationsPage",
              "name": "Permit Actions On Reservations Page"
            },
            {
              "authorityType": "display",
              "id": "calendarPage",
              "name": "Calendar Page"
            },
            {
              "authorityType": "enabled",
              "id": "buttonToCalendarPage",
              "name": "Button To Calendar Page"
            },
            {
              "authorityType": "enabled",
              "id": "buttonToReservationsPage",
              "name": "Button To Reservations Page"
            },
            {
              "id": "viewPermitContract",
              "authorityType": "hide",
              "name": "View Permit Contract"
            }
          ]
        };
    include ../../../build/helper/templates/body.jade
    if diff !== "static"
      script(src!="${jquery_path}/js/RoboHelp_CSH.js")
