doctype html
- var opts = htmlWebpackPlugin.options;
- var diff = opts.diff;
- var linkExtraPrefix = opts.linkExtraPrefix;
include ../../../build/helper/templates/variables.jade

html(lang="en")

  head
    include ../../../build/helper/templates/head.jade

  body
    if diff !== "static"
      script.
        window.__resourceCalender__ = {};
        window.__resourceCalender__.__initialState__ = {
          "sites": ${sites} || [],
          "centers" : ${centers} || [],
          "eventTypes" : ${event_types} || [],
          "resourceTypes" : ${resource_types} || [],
          "facilityTypes" : ${facility_types} || [],
          "facilityTypeLabel" : "${facility_label}",
          "instructorLabel" : "${instructor_label}",
          "permitID" : "${permit_id}",
          "eventID" : "${event_id}",
          "batchID" : "${batch_id}",
          "receiptID" : "${receipt_id}",
          "receiptEntryID" : "${receipt_entry_id}",
          "permitStartEventDate" : "${permitStartEventDate}",
          "currentDate" : "${currentDate}",
          "currentTime" : "${currentTime}",
          "permit_label" : "${permit_label}" || "permit",
          "dateFormat" : "${dateFormat}",
          "timeFormat" : "${timeFormat}",
          "activity_label" : "${activity_label}",
          "daycare_label" : "${daycare_label}",
          "company_label" : "${company_label}",
          "maxNumOfResource": "${max_num_of_resource}",
          "timeZoneOffset": parseInteger(${time_zone_offset}),
          "breadcrumb": parseArray(${breadcrumb}),
          "quickView" : ${quick_view_list} || [],
          "customerCompany": ${customer_company},
          "permitNumber": "${permit_number}",
          "authority": ${authorities} || [],
          "bookingType": parseInteger(${booking_type}),
          "limitBookingsPerPermit": parseInteger(${limit_bookings_per_permit}),
          "reservationColorType": parseInteger(${reservation_color_type}), // 0 by status 1, by event type
          "NoPermitColorTypes": ${no_permit_color_type}, // activities, daycare session, league, private_lesson
          "defaultEventTypeStyle": ${default_event_type_style},
          "eventTypeColorList": ${event_type_color_list}
        };
    else
      script.
        window.__resourceCalender__ = {};
        window.__resourceCalender__.__initialState__ = {
          "limitBookingsPerPermit": 300,
          "sites": [{
            "name": "17586 - NNN&amp;NNNNN",
            "id": 41,
            "selected": false
          }, {
            "name": "17586 - NO override",
            "id": 36,
            "selected": false
          }, {
            "name": "17586 - Override",
            "id": 37,
            "selected": false
          }],
          "centers": [{
            "name": "111111Lois Ce&amp;nter without Facility",
            "id": 138,
            "selected": false
          }, {
            "name": "14.5 Sprint 4 Moon's center",
            "id": 151,
            "selected": false
          }, {
            "name": "3 center",
            "id": 149,
            "selected": false
          },{
            "name": "111111Lois Ce&amp;nter without Facility",
            "id": 1318,
            "selected": false
          }, {
            "name": "14.5 Sprint 4 Moon's center",
            "id": 1511,
            "selected": false
          }, {
            "name": "3 center",
            "id": 1419,
            "selected": false
          },{
            "name": "3 center",
            "id": 1420,
            "selected": false
          },{
            "name": "3 center",
            "id": 1421,
            "selected": false
          }],
          "eventTypes": [{
            "id": 25,
            "name": "14.5 I&amp;map Fixed ET",
            "selected": false
          },
            {
              "id": 27,
              "name": "14.5 Imap NO ET",
              "selected": false
            },
            {
              "id": 26,
              "name": "14.5 Imap No Fixed ET",
              "selected": false
            }],
          "resourceTypes": [{
            "name": "reco&amp;urce1",
            "id": 1,
            "type": 0,
            "selected": true
          },
            {
              "name": "recource2",
              "id": 2,
              "type": 1,
              "selected": true
            },
            {
              "name": "recource3",
              "id": 3,
              "type": 2,
              "selected": false
            }],
          "facilityTypes": [{
            "name": "faci&amp;lity type 1",
            "id": 0,
            "selected": true
          }, {
            "name": "facility type 2",
            "id": 1,
            "selected": false
          }, {
            "name": "facility type 3",
            "id": 2,
            "selected": false
          }],
          "facilityTypeLabel": "Whyy",
          "instructorLabel": "Saj",
          "permitID": 0,
          "eventID": "3",
          "batchID": "1111111",
          "receiptID": "2222222",
          "receiptEntryID": "0",
          "permitStartEventDate" : "2016 Jun 04",
          "currentDate": "2016 Jun 04",
          "currentTime": "10:00 AM",
          "dateFormat": "YYYY/MM/DD",
          "timeFormat": "h:mm a",
          "permit_label": "permit",
          "activity_label": "activity",
          "daycare_label": "daycare",
          "maxNumOfResource": "20",
          "company_label": "company",
          "timeZoneOffset": -8,
          "bookingType": 1,
          "quickView" : [
              {
                  "id": 6,
                  "name": "test1",
                  "selected": true,
                  "resource_ids": [
                    1,2,3,4,5,6
                  ],
                  "scope_type": 0
              },
              {
                  "id": 7,
                  "name": "test2",
                  "selected": false,
                  "resource_ids": [
                      10,
                      11
                  ],
                  "scope_type": 1
              },
              {
                  "id": 8,
                  "name": "test3 test3 test3 test3 test3 test3 test3 test3 test3 test3 test3 test3 test3 test3 test3 test3 test3 test3",
                  "selected": false,
                  "resource_ids": [
                      10,
                      11
                  ],
                  "scope_type": 0
              }
          ],
          "authority" : [
            {
              "authorityType": "enabled",
              "id": "newReservationHome",
              "name": "New Reservation Home"
            },
            {
              "authorityType": "display",
              "id": "reservationsPage",
              "name": "Reservations Page"
            },
            {
              "authorityType": "enabled",
              "id": "permitActionsOnReservationsPage",
              "name": "Permit Actions On Reservations Page"
            },
            {
              "authorityType": "display",
              "id": "calendarPage",
              "name": "Calendar Page"
            },
            {
              "authorityType": "enabled",
              "id": "buttonToCalendarPage",
              "name": "Button To Calendar Page"
            },
            {
              "authorityType": "enabled",
              "id": "buttonToReservationsPage",
              "name": "Button To Reservations Page"
            },
            {
              "id": "viewPermitContract",
              "authorityType": "hide",
              "name": "View Permit Contract"
            },
            {
              "id": "overrideRentalBlock",
              "authorityType": "enabled",
              "name": "Override Rental Block"
            },
            {
              "id": "addGlobalQuickView",
              "authorityType": "enabled",
              "name": "Add Global Quick View"
            }
          ],
          "reservationColorType": 1, // 0 by status 1, by event type
          "NoPermitColorTypes": {
              "activity": {
                "background_color": "#682c71",
                "text_color": "#333333",
              },
              "daycare_session":{
                "background_color": "#666",
                "text_color": "#222222",
              },
              "league": {
                "background_color": "#333",
                "text_color": "#333333",
              },
              "private_lesson": {
                "background_color": "#682c71",
                "text_color": "#333333"
              }
            }, // activities, daycare session, league, private_lesson
          "defaultEventTypeStyle": {
              "background_color": "#682c71",
              "text_color": "#fff"
            },
          "eventTypeColorList": [
            {
              "id": 34,
              "style": {
                "background_color": "#63B8FF",
                "text_color": "#fff"
              }
            },
            {
              "id": 35,
              "style": {
                "background_color": "#666",
                "text_color": "#333"
              }
            },
            {
              "id": 36,
              "style": {
                "background_color": "#63B8FF",
                "text_color": "#fff"
              }
            },
            {
              "id": 56,
              "style": {
                "background_color": "#63B8FF",
                "text_color": "#fff"
              }
            }
          ]
        };
    include ../../../build/helper/templates/body.jade
    if diff !== "static"
      script(src!="${jquery_path}/js/RoboHelp_CSH.js")
