doctype html
- var opts = htmlWebpackPlugin.options;
- var diff = opts.diff;
- var linkExtraPrefix = opts.linkExtraPrefix;
include ../../../build/helper/templates/variables.jade

html(lang="en")

  head
    include ../../../build/helper/templates/head.jade

  body
    if diff !== "static"
      script.
        window.__refund__ = {};
        window.__refund__.__initialState__ = {
          "permitID" : "${permit_id}",
          "batchID" : "${batch_id}",
          "receiptID" : "${receipt_id}",
          "dateFormat" : "${dateFormat}",
          "initData": parseObject(${permit_refund_info}),
          "savedData": parseObject(${permit_refund_saved_info}),
          "breadcrumb": parseArray(${breadcrumb}),
          "timeZoneOffset": parseInteger(${time_zone_offset}),
          "authority": ${authorities} || [],
          "permitWording": "${permit_label}" || "permit",
          "permitCanBeCancelled": parseBoolean(${permit_can_be_cancelled})
        }
    else
      script.
        window.__refund__ = {};
        window.__refund__.__initialState__ = {
          "permitID" : "1",
          "batchID" : "1",
          "receiptID" : "1",
          "dateFormat" : "MM/DD/YYYY",
          "permitWording": "Permit Shirly",
          "permitCanBeCancelled": true,
          "initData": {
            "deposit_fees": [
              {
                "receipt_detail_id": 1,
                "charge_description": "deposit1&gt;&lt;&amp;",
                "charge_amount": 10.00,
                "amount_paid": 10.00,
                "need_override": true,
                "refund_date": "Mar 22, 2017",
                "linked_credit": 0,
                "holiday_rate_pair_receipt_detail_id": 5,
                "refund_message": ""
              },
              {
                "receipt_detail_id": 5,
                "charge_description": "Holiday Fee &gt;&lt;&amp;",
                "charge_amount": 10.00,
                "amount_paid": 10.00,
                "need_override": true,
                "refund_date": "Mar 22, 2017",
                "linked_credit": 0,
                "holiday_rate_pair_receipt_detail_id": 1,
                "refund_message": ""
              },
              {
                "receipt_detail_id": 2,
                "charge_description": "deposit2&quot;&#096;",
                "charge_amount": 10.00,
                "amount_paid": 10.00,
                "need_override": false,
                "refund_date": "",
                "linked_credit": 10,
                "holiday_rate_pair_receipt_detail_id": 0,
                "refund_message": "Unpaid payment plan for the Holiday Rates will be cancelled"
              },
              {
                "receipt_detail_id": 3,
                "charge_description": "deposit3&quot;&#126;",
                "charge_amount": 10.00,
                "amount_paid": 0,
                "need_override": false,
                "refund_date": "",
                "linked_credit": 1,
                "holiday_rate_pair_receipt_detail_id": 0,
                "refund_message": ""
              },
              {
                "receipt_detail_id": 4,
                "charge_description": "deposit4&quot;test&quot;&#126;",
                "charge_amount": 10.00,
                "amount_paid": 5.01,
                "need_override": true,
                "refund_date": "Mar 20, 2017",
                "linked_credit": 0,
                "holiday_rate_pair_receipt_detail_id": 0,
                "refund_message": ""
              }
            ],
            "rental_fees": [
              {
                "receipt_detail_id": 1,
                "charge_description": "deposit1&gt;&lt;&amp;",
                "charge_amount": 10.00,
                "amount_paid": 10.00,
                "need_override": false,
                "refund_date": "",
                "linked_credit": 0,
                "holiday_rate_pair_receipt_detail_id": 4,
                "refund_message": ""
              },
              {
                "receipt_detail_id": 2,
                "charge_description": "deposit2&quot;&#096;",
                "charge_amount": 10.00,
                "amount_paid": 10.00,
                "need_override": true,
                "refund_date": "Mar 22, 2018",
                "linked_credit": 10,
                "holiday_rate_pair_receipt_detail_id": 0,
                "refund_message": "Unpaid payment plan for the Holiday Rates will be cancelled"
              },
              {
                "receipt_detail_id": 3,
                "charge_description": "deposit3&quot;&#126;",
                "charge_amount": 10.00,
                "amount_paid": 0,
                "need_override": true,
                "refund_date": "Mar 20, 2018",
                "linked_credit": 1,
                "holiday_rate_pair_receipt_detail_id": 0,
                "refund_message": ""
              },
              {
                "receipt_detail_id": 4,
                "charge_description": "deposit4&quot;test&quot;&#126;",
                "charge_amount": 10.00,
                "amount_paid": 5.01,
                "need_override": false,
                "refund_date": "",
                "linked_credit": 0,
                "holiday_rate_pair_receipt_detail_id": 1,
                "refund_message": ""
              }
            ],
            "claim_charges": [
              {
                "claim_charge_id": 1,
                "claim_charge_name": "Facility damage&gt;&lt;&amp;&#096;",
                "claim_charge_amount": 10
              },
              {
                "claim_charge_id": 2,
                "claim_charge_name": "Facility damage2&quot;test&quot;&#126;",
                "claim_charge_amount": 11
              }
            ],
            "override_info": {
              "refund_date": "Mar 22, 2017",
              "need_override": true,
              "has_override_authority": false
            },
            "refund_charge": {
              "charge_description": "Cancellation Fee",
              "refund_charge_amount": 222
            },
            "refund_total": 12,
            "sub_refund_total": 12
          },
          "savedData": {
            "permit_id":2634,
            "selected_deposit_fees":[
              1, 2, 3, 4, 5
            ],
            "selected_rental_fees":[
              1, 2, 3, 4
            ],
            "refund_total": 8,
            "sub_refund_total": 12,
            "claim_total": 88,
            "refund_charge_amount": 1,
            "selected_claim_charges":[
              {
                "claim_charge_id": 1,
                "claim_charge_amount":2,
                "claim_tax_amount": 1.00,
                "claim_discount_amount": 111
              }
            ],
            "customer_notes": "",
            "staff_notes": "",
            "batch_id":0,
            "receipt_id":3,
            "user_name": "test shirly",
            "user_password": "xxxxxx",
            "override_checked": true,
            "timeZoneOffset": -8,
            "cancel_permit": false
          },
          "authority" : [
            {
              "authorityType": "enabled",
              "id": "newReservationHome",
              "name": "New Reservation Home"
            },
            {
              "authorityType": "display",
              "id": "reservationsPage",
              "name": "Reservations Page"
            },
            {
              "authorityType": "enabled",
              "id": "permitActionsOnReservationsPage",
              "name": "Permit Actions On Reservations Page"
            },
            {
              "authorityType": "display",
              "id": "calendarPage",
              "name": "Calendar Page"
            },
            {
              "authorityType": "enabled",
              "id": "buttonToCalendarPage",
              "name": "Button To Calendar Page"
            },
            {
              "authorityType": "enabled",
              "id": "buttonToReservationsPage",
              "name": "Button To Reservations Page"
            },
            {
              "id": "viewPermitContract", 
              "authorityType": "hide", 
              "name": "View Permit Contract"
            },
            {
              "id":"cancelPermit",
              "authorityType":"enabled",
              "name":"Cancel Permit"
            }
          ]
        };
    include ../../../build/helper/templates/body.jade
    if diff !== "static"
      script(src!="${jquery_path}/js/RoboHelp_CSH.js")
