doctype html
- var opts = htmlWebpackPlugin.options;
- var diff = opts.diff;
- var linkExtraPrefix = opts.linkExtraPrefix;
include ../../../build/helper/templates/variables.jade

html(lang="en")

  head
    include ../../../build/helper/templates/head.jade

  body.initFontSize
    if diff !== "static"
      script.
        window.__permit__ = {};
        window.__permit__.__initialState__ = {
          "dateFormat" : "${dateFormat}",
          "timeFormat" : "${timeFormat}",
          "permitLabel" : "${permit_label}" || "permit",
          "mailingAddressLabel" : "${mail_address_label}",
          "companyLabel" : "${company_label}",
          "homeLabel" : "${home_label}",
          "workLabel" : "${work_label}",
          "cellLabel" : "${cell_label}",
          "showSignature4PermitHolder" : ${show_holder_signature},
          "showSignature4AdditionalCustomer" : ${show_adcustomer_signature},
          "showSignature4Organization" : ${show_org_signature},
          "showEmail": ${show_email},
          "isFromCui": ${is_from_cui},
          "permitId": ${permit_id},
          "timeZoneOffset": parseInteger(${time_zone_offset}),
          "authority": ${authorities} || [],
          "showEmployee": ${show_employee_id_on_receipt}
        };
    else
      script.
        window.__permit__ = {};
        window.__permit__.__initialState__ = {
          "dateFormat" : "MM/DD/YYYY",
          "timeFormat" : "h:mm a",
          "permitLabel" : "permitXXX",
          "mailingAddressLabel" : "Mailing AddressXXX",
          "companyLabel" : "CompanyXXX",
          "homeLabel" : "HomeXXX",
          "workLabel" : "WorkXXX",
          "cellLabel" : "CellXXX",
          "showSignature4PermitHolder": true,
          "showSignature4AdditionalCustomer": true,
          "showSignature4Organization": true,
          "showEmail": true,
          "isFromCui": false,
          "permitId": 11112,
          "timeZoneOffset": -8,
          "authority" : [
            {
              "authorityType": "enabled",
              "id": "newReservationHome",
              "name": "New Reservation Home"
            },
            {
              "authorityType": "display",
              "id": "reservationsPage",
              "name": "Reservations Page"
            },
            {
              "authorityType": "enabled",
              "id": "permitActionsOnReservationsPage",
              "name": "Permit Actions On Reservations Page"
            },
            {
              "authorityType": "display",
              "id": "calendarPage",
              "name": "Calendar Page"
            },
            {
              "authorityType": "enabled",
              "id": "buttonToCalendarPage",
              "name": "Button To Calendar Page"
            },
            {
              "authorityType": "enabled",
              "id": "buttonToReservationsPage",
              "name": "Button To Reservations Page"
            },
            {
              "id": "viewPermitContract",
              "authorityType": "hide",
              "name": "View Permit Contract"
            }
          ],
          "showEmployee": false
        }
    include ../../../build/helper/templates/body.jade
    if diff !== "static"
      script(src!="${jquery_path}/js/RoboHelp_CSH.js")
