doctype html
- var opts = htmlWebpackPlugin.options;
- var diff = opts.diff;
- var linkExtraPrefix = opts.linkExtraPrefix;
include ../../../build/helper/templates/variables.jade

html(lang="en")

  head
    include ../../../build/helper/templates/head.jade

  body.initFontSize
    if diff !== "static"
      script(src!="${jquery_path}/js/jquery-1.7.2.min.js")
      script(src!="${jquery_path}/js/jquery-ui-1.8.21.custom.min.js")
      script(src!="${jquery_path}/js/signaturePAD/SigWebTablet.js")
      script(src!="${jquery_path}/js/signaturePAD/SignPad.js")
      script(src!="${jquery_path}/js/signaturePAD/html2canvas.js")
      script.
        window.__cart__ = {};
        window.__cart__.__initialState__ = {
          "batchID" : "${batch_id}",
          "receiptID" : "${receipt_id}",
          "receiptEntryID" : "${receipt_entry_id}",
          "dateFormat" : "${dateFormat}",
          "timeFormat" : "${timeFormat}",
          "breadcrumb": parseArray(${breadcrumb}),
          "isOutOfWorkflow": parseBoolean(${is_out_of_workflow}),
          "timeZoneOffset": parseInteger(${time_zone_offset}),
          "authority": ${authorities} || []
        };
    else
      script.
        window.__cart__ = {};
        window.__cart__.__initialState__ = {
          "batchID" : "1111111",
          "receiptID" : "2222222",
          "receiptEntryID" : "3333333",
          "dateFormat" : "DD/MM/YYYY",
          "timeFormat" : "h:mm a",
          "timeZoneOffset": -8,
          "authority" : [
            {
              "authorityType": "enabled",
              "id": "newReservationHome",
              "name": "New Reservation Home"
            },
            {
              "authorityType": "display",
              "id": "reservationsPage",
              "name": "Reservations Page"
            },
            {
              "authorityType": "enabled",
              "id": "permitActionsOnReservationsPage",
              "name": "Permit Actions On Reservations Page"
            },
            {
              "authorityType": "display",
              "id": "calendarPage",
              "name": "Calendar Page"
            },
            {
              "authorityType": "enabled",
              "id": "buttonToCalendarPage",
              "name": "Button To Calendar Page"
            },
            {
              "authorityType": "enabled",
              "id": "buttonToReservationsPage",
              "name": "Button To Reservations Page"
            },
            {
              "id": "viewPermitContract", 
              "authorityType": "hide", 
              "name": "View Permit Contract"
            }
          ]
        };
    include ../../../build/helper/templates/body.jade
    if diff !== "static"
      script(src!="${jquery_path}/js/RoboHelp_CSH.js")
